# This is an example configuration file for Inoue. For more information, read the Configuration section in README.md!

# This is the user whose replays should be donwloaded
username KAGARI
# This is the template for output filenames
filenameformat %Y-%m-%d %H-%M %U vs %O.ttrm
# for example, with this template a game played by OSK against SZY on January 2nd 2021 at 12:34 will be saved into:
# 2021-01-02 12-34 OSK vs SZY.ttrm
